*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fff;
}
/**  scroll bar styling  **/
::-webkit-scrollbar {width: .4%;}
::-webkit-scrollbar-thumb {background: #999;}
::-webkit-scrollbar-thumb:hover {background: #777;}

/** disable scroll bar for small devices **/
@media screen and(min-width:850px){
    ::-webkit-scrollbar {width: .4%;}

}

/**  font-family: 'ABeeZee', sans-serif;  **/
h1, h2{
    font-family: 'ABeeZee', sans-serif;
    font-weight: bolder;
    color: #444;
    line-height: 25px;
}
p{
    font-family: 'ABeeZee', sans-serif;
    font-weight: lighter;
    word-spacing: 1.4px;
    line-height: 18.5px;
    color: #444;
}


/*the nav for DESKTOP*/
@media screen and (min-width:850px){
    .hero{
        background-position: bottom;
        -webkit-background-attachment: fixed;
        -moz-background-attachment: fixed;
        -o-background-attachment: fixed;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /**  NAVIGATION BAR **/
    #nav-bar{
        width: 100%;
        background-color: rgba(0, 0, 0, 0)
    }
    /** WEBSITE LOGO */
    .logo{
        margin: 12px 2%;
        width: 10%;
        height: auto;
        right: auto;
        position: fixed;
        z-index: 2;
    }
    .logo img {
        width: 185%;
        max-width: 230px;
        position: absolute;
    }

    #nav-bar .navbar-links{
        width: auto;
        height: auto;
        left: auto;
        right: 50%;
        transform: translateX(50%);
        display: -webkit-inline-box;
        top: 26px;
        padding: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1;
        transform-style: flat;
        transform-origin: left;
        transition-timing-function: ease-in;
        transition-duration: 200ms;
        overflow: hidden;
    }

    #nav-bar .navbar-links a{
        font-size: 80%;
        padding: 6px;
        transition-duration: 300ms;
    }
    .navbar-links li{
        transition-delay: 200ms;
        transition-duration: 200ms;
        position: relative;
        padding: 4px;
    }

    #nav-bar .navbar-links a:hover{
        color: #000 !important;
        font-weight: bolder;
    }

    /**  DROP-MENU **/
    .drop-menu{
        position: relative;
    }
    .navbar-links img{
        position: absolute;
        display: inline-block;
        top: 13px;
        transform: translateY(-50%);
        width: 10px;
        transition: 800ms;
    }

    #drop-button-solutions a, #drop-button-product a, #drop-button-connectors a{
        font-size: 11px;
        color: #555 !important;
        cursor: pointer;
    }

    #nav-with-links .drop-menu ul li a{
        font-size: 13px !important;
        color: #555 !important;

    }
    #nav-with-links .drop-menu ul li{
        padding: 10px 0 0 0px;
    }
    #nav-with-links .drop-menu ul{
        box-shadow: none;
        width: 100%;
        margin: -300% auto;
        opacity: 0;
        transition: 600ms;
    }


    /**********  languages ********/
    #languages-toggles{
        display: block;
        position: absolute;
        left: auto;
        right: 4%;
        top: 22px;
    }

    #languages-toggles {
        display: -webkit-inline-box;
        list-style: none;
    }

    #languages-toggles img {
        width: 25px;
        margin-left: 10px;
    }









    /*******  VERTICAL NAVIGATION   ********/
    #vertical-navigation{
        position: fixed;
        right: 3%;
        top: 35px;
        z-index: 99999;
    }
    #vertical-navigation-tip{
/*        display: block;*/
        position: fixed;
        right: -4%;
        z-index: 2;
        top: 40px;
    }
    #vertical-navigation-tip p{
        background-color: #76BFD6;
        position: relative;
        color: #fff;
        width: 48%;
        padding: 20px 25px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 10px -1px #76BFD6;
    }
    #vertical-navigation-tip p::after{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: -10px;
        top: -5px;
        z-index: -1;
        border-right: 15px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 60px solid #76BFD6;
        transform: rotate(67deg);
    }

    #vertical-navigation .three-dots{

    }

   .three-dots li{
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #e0e0e0;
        border-radius: 50%;
        transition: 500ms;
    }
    .dot1.joined-dots  {
        transform: translateX(17px);
    }
    .dot2.joined-dots {
        transform: translateX(3px) scale(1.8);
        background-color: #7bb5ec !important;
    }
    .dot3.joined-dots {
        transform: translateX(-12.5px);
    }

    .dots-lables{
        transition-delay: 150ms;
        transition-duration: 800ms;
        transition-timing-function: ease-out;
        display: none;
    }
    .show-dots{
        display: block !important;
    }

    #vertical-navigation .dots-lables li{
        width: 20px;
        height: 20px;
        background-color: #e0e0e0;
        border-radius: 50%;
        list-style: none;
        margin: 24px 0 0 15px;
    }

    #vertical-navigation .dots-lables a{
        position: relative;

    }
    #vertical-navigation .dots-lables a p{
        position: absolute;
        top: -18px;
        right: 0px;
        color: #888;
        font-size: 13px;
        font-family: 'ABeeZee', sans-serif;
        font-weight: lighter;
        width: max-content;
        text-shadow: 1px 1px 10px -5px #999;
    }

    /*** TOOGLE MENU **/
    #nav-toggle{
        position: fixed;
        left: auto;
        right: 5%;
        top: 32px;
        background-color: #e0e0e0;
        padding: 23px 15px 19px 15px;
        border-radius: 50%;
        transition: .4s;
        z-index: 2;
        display: none;
    }

    #nav-toggle:hover{
        transform: scale(1.05) rotate(180deg);
        box-shadow: 0px 0px 20px #999;
    }

    /** HERO ***/
    .hero-main {
        margin: 21vh auto;
        text-align: center;
    }
    .hero-main h1{
        color: #444;
        line-height: 1.1em;
        font-size: 210%;
    }
    .hero-main p{
        width: 48%;
        margin: 15px auto;
        font-size: 16px;
        color: #555;
    }

    /**  SAIBA MAIS BOTÃO **/
    #scroll-down{
        margin: 2% 8%;
        background-color: rgba(255, 255, 255, 0.48);
        font-size: 78%;
        box-shadow: 0 0 26px -6px #999;
    }
    #scroll-down a{
        text-decoration: none;
        color: #666;
        padding: 20px;
    }

    /***  SOLUTIONS  ***/
    #solutions header h2{
        font-size: 14px;
        margin-left: 20%;
        margin-top: 30px;;
        padding-top: 50px;
        margin-bottom: 5px;
    }

    #solutions header h1{
        font-size: 140%;
        width: 60%;
        margin-left: 20%;
    }
    #graph-radio {
        margin: 60px 0 30px 18%;
        width: 64%;
    }

    /**  PHOENIX ONE ***/
    #phoenix-one{
        width: 100%;
    }
    #phoenix-one h1{
        width: 60%;
        font-size: 100%;
        margin-left: 20%;
    }

    #phoenix-one p{
        width: 60%;
        font-size: 77%;
        margin-top: 10px;
        margin-left: 20%;
    }


    /*** PHOENIX QUALITY **/
    #phoenix-quality{
        width: 100%;
    }
    #phoenix-quality{
        width: 100%;
        height: auto;
        margin-top: 60px;
        padding-top: 60px;
        position: relative;
        transition-duration: 2s;
        filter: opacity(1);
    }
    #highlights2 h1{
        width: 60%;
        font-size: 17px;
        margin-left: 20%;
    }

    #phoenix-quality p{
        width: 60%;
        font-size: 77%;
        margin: 10px 0 0 20%;
    }

    #phoenix-quality .title{
        margin-left: 20%;
    }
    /***  SOLUTION IMAGES ***/
    #highlights img, #highlights2 img {
        width: 30%;
        margin: 115px 0 10px 25%;
    }

    /**  ANIMATED CHART FOR PHEONIX QUALUTY  ***/
    #chart{
        width: 72%;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    #chart .inner-chart{
        margin: 80px 0 0 15%;
        background-color: #fff;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: -1;
        box-shadow: 1px 1px 20px -7px #777;
    }

    #chart .chart-size-limit{
        height: 55%;
        width: 76%;
        left: 15%;
        bottom: 17%;
        position: absolute;
    }

    .chart-size-limit .left-vertical-line{
        height: 100%;
        width: .4%;
        background-color: #000;
        position: relative;
    }

    /********  VERTICAL LINE *********/
    .left-vertical-line .vertical-point{
        width: 8px;
        height: 1.4px;
        background-color: #000;
        position: absolute;
        left: 100%;
    }
    .left-vertical-line .vertical-point:nth-child(1){
        top: 0;
    }
    .left-vertical-line .vertical-point:nth-child(2){
        top: 49%;
    }
    .left-vertical-line .vertical-point:nth-child(3){
        top: 90%;
    }
    /*******  percentage of the lines  *****/
    .left-vertical-line .vertical-point .percentage{
        position: absolute;
        transform: translateY(-100%);
        font-size: 9px !important;
        right: 35px;
    }




    /*******  BOTTOM LINE   ******/
    .chart-size-limit .bottom-horizontal-line{
        width: 100%;
        height: .6%;
        background-color: #000;
    }


    /****** BARS AS GROUP *******/
    .chart-size-limit .outer-chart-bar{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .chart-size-limit .chart-bar{
        width: 50%;
        margin-left: 40%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #76BFD6;
        position: relative;
    }

    /*****   BARS AS ONE      ******/
    .chart-size-limit .chart-bar .percentage{
        position: absolute;
        top: -20px;
        left: 50%;
        width: auto !important;
        margin: auto !important;
        font-size: 9px !important;
        transform: translateX(-50%);
    }
    .chart-size-limit .chart-bar .uf{
        position: absolute;
        bottom: -25px;
        font-size: 9px !important;
        width: auto;
        margin: auto !important;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }


    /****  HEADER OF THE CHART  ****/
    #chart h1{
        padding: 6% 0 0 5%;
        font-size: 120%;
    }



    /*****   GOAL-CARD    ******/
    .goal-card{
        width: 22%;
        height: 80px;
        margin: 86px 0 0 23%;
        background-color: #6BE058;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        border-radius: 10px;
        box-shadow: 0px 1px 20px -4px rgba(0, 199, 0, 1);
    }
    #chart .goal-card h1{
        font-size: 15px;
        text-align: center;
        padding: 0;
        margin: 10px auto 5px;
        color: #fff;
    }
    #chart .goal-card h3{
        text-align: -webkit-center;
        font-size: 17px;
        color:  #004c0a;
        font-family: 'ABeeZee', sans-serif;
        font-weight: bolder;
    }

    .average-card{
        width: 22%;
        height: 80px;
        margin: 20px 0 0 23%;
        background-color: #F86B6B;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 10px;
        box-shadow: 0px 0px 20px -4px rgba(200, 0, 0, 1);
    }
    #chart .average-card h1{
        font-size: 15px;
        text-align: center;
        padding: 0;
        margin: 10px auto 5px;
        color: #fff;
    }
    #chart .average-card h3{
        text-align: -webkit-center;
        font-size: 17px;
        color: #630303;
        font-family: 'ABeeZee', sans-serif;
        font-weight: bolder;
    }
    /**** triangle background ****/
    .angle-background{
        position: absolute;
        width: 100%;
        height: 1150px;
        transform: rotate(0deg) skewY(10deg);
        z-index: -1;
        left: 0;
        top: 25%;
        background-color: #f7f7f7;
    }



    /*********  PRODUCTS   ************/
    #devices{
        padding-top: 100px;
    }
    #devices header h1{
        padding: 50px 0 0 0;
        margin-left: 20%;
        box-shadow: none;
    }
    .product{
        width: 60%;
        margin-left: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #devices .product img{
        width: 85%;
        margin: 116px 0 0 18%;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    #devices .device1{
        grid-column-start: 1;
        grid-row: 1;
        margin-top: 100px
    }

    #products .product p, #products .product h2, #products .mail-button, #products .prod-details-nav ul, #products .product-info-box .hardware-info, #products .product-info-box .features-info{
        margin-left: 0;
    }


    /**** cables  *******/
    #cables header h1:nth-child(1){
        margin-left: 20%;
    }
    #cables #cables2 h1{
        margin-left: 0;
    }
    #cables .product{
        display: block;
    }

    #cables .product .cable-content-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   #products #cables img{
        width: 60%;
        margin: -50px 0 0 0;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .cable-item01{
        margin-top: 20px;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    products .prod-details-nav ul{
        margin: 0 0 0 0;
    }



    /**** connectors  *******/
    #products #conectores-header h1{
        margin: 0 0 0 20%;
        padding: 50px 0 0 0;
        box-shadow: none;
    }

    #connectors .product{
        display: block;
    }

    #connectors .product .cable-content-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   #products #connectors img{
        width: 60%;
        margin: -20px 0 0 0;
        grid-column-start: 2;
        grid-row-start: 1;
    }
    #products #connectors .cable-item02{
        padding-top: 50px;
    }
    #products #connectors .prod-details-nav ul{
        margin: 10px 0 0 0;
        box-shadow: none;
    }

    #products .product-info-box .features-info, #products .product-info-box .hardware-info{
        box-shadow: none;
    }



    /***  ABOUT ***/
    #about{
        padding-top: 0;
    }
    #about img{
        margin: 70px 42.5% 50px;
        width: 15%;
    }

    #about h1{
        margin: 20px 0 10px 20%;
    }

    #about p{
        width: 60%;
        margin-left: 20%;
        font-size: 80%;
        font-family: 'ABeeZee', sans-serif;
    }


    /** CONTATO **/
    #contact{
        width: 100%;
        padding: 50px 0 120px;
        background-color: #000;
    }

    #contact h1{
        margin: 0 0 50px 0;
    }

    #contact p{
        margin: 30px 0 0;
    }
    #contact a{
        display: block;
        margin-left: -10px;
        padding: 10px;
        width: max-content;
    }



    /** MIDIA SOCIAL ***/
    #social-media{
        background-color: #000;
        padding: 50px 0 0;
    }

    #social-media h1 {
        text-align: right;
    }

    #social-media ul{
        list-style: none;
        text-align: right;
        margin-right: -10px;
    }

    #social-media ul li{
        display: inline-block;
        width: 35px;
    }

    #social-media a {
        display: inline-block;
        padding: 10px;
    }

    #social-media .social-icon img{
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    /**  CREDITS **/
    #credits{
        width: 90%;
        margin-left: 0;
        font-family: 'ABeeZee', sans-serif;
    }
}






















